doctype html
meta(doctype='html')
title Blue Trail I/O

header
  h1 Blue Trail I/O

nav
  ul
    li
      a(href='/') Chat

    li
      a(href='/me') Me

    li
      a(href='/friends') Friends

section
  block content

script(src='http://code.jquery.com/jquery-2.1.0.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/bts.js')