doctype html
meta(doctype='html')
title Blue Trail I/O

header
  h1 Blue Trail I/O

section
  span Nick 
  input.nick(type='text' placeholder='Enter a nickname')
  button.update-nick Update

  .messages

script(src='http://code.jquery.com/jquery-2.1.0.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/bts.js')